@import "../../../@theme/styles/themes";
@include nb-install-component() {
    /deep/ {
        .green {
            color: #32CD32;
        }
        .orange {
            color: #FF8C00;
        }
        .red {
            color: #FF0000;
        }
    }
}