@import '../../../@theme/styles/themes';
@include nb-install-component() {
    .add-payment {
        cursor: pointer;
        background-color: #a4abb3;
        text-transform: none;
    }
    .add-payment:hover {
        background-color: darkseagreen;
    }
}