<nb-card>
    <nb-card-header>Add Payment</nb-card-header>
    <nb-card-body>
        <div class="col-md-12">
            <div class="form-group row">
                <label class="label col-md-3 col-form-label">Amount:</label>
                <div class="col-md-9">
                    <input type="number" [(ngModel)]="selectedAmount" nbInput fullWidth placeholder="Amount">
                </div>
            </div>
            <div class="form-group row ">
                <label class="label col-md-3 col-form-label ">Payment Date:</label>
                <div class="col-md-9 ">
                    <input nbInput placeholder="Choose Date" [(ngModel)]="date" [nbDatepicker]="formpicker" style="width:100%">
                    <nb-datepicker #formpicker [(date)]="date" (dateChange)="setDate()"></nb-datepicker>
                </div>
            </div>
            <div class="form-group row">
                <label class="label col-md-3 col-form-label ">Status:</label>
                <div class="col-md-9 ">
                    <ng-select bindLabel="name" bindValue="id" [(ngModel)]="selectedStatus" bindLabel="name" [items]="statusMap">
                    </ng-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="label col-md-3 col-form-label ">Publisher:</label>
                <div class="col-md-9 ">
                    <ng-select [(ngModel)]="selectedUserId" bindLabel="name" bindValue="id" (search)="onSearchUser($event)" [items]="userData">
                    </ng-select>
                </div>
            </div>
        </div>

    </nb-card-body>
    <nb-card-footer>
        <div style="float:right">
            <button (click)="save()" class="add-payment" style="margin-right:15px;" nbButton size="small" shape="semi-round">Kaydet</button>
            <button (click)="close()" class="add-payment" nbButton size="small" shape="semi-round">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>