@import "../../../@theme/styles/themes";
@import "~@nebular/bootstrap/styles/buttons";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@include nb-install-component() {
    .payment-button {
        cursor: pointer;
        background: #a4abb3;
        text-transform: none;
        width: 150px;
        text-align: center;
    }
    .payment-button-down {
        background: #a4abb3;
    }
    .dropdown-item {
        cursor: pointer;
        text-transform: none;
        background: #a4abb3;
    }
    .dropdown-item:hover {
        background-color: darkseagreen !important;
    }
    .payment-button:hover {
        background-color: darkseagreen !important;
    }
}