<div class="col-md-12">
    <nb-card>
        <nb-card-header>
            <div class="row">
                <div class="col-md-3" style="padding-top:10px">Payments</div>
                <div class="col-md-9">
                    <div class="row" style="float:right">
                        <div style="margin-right:8px;" ngbDropdown>
                            <button class="payment-button" nbButton shape="semi-round" (click)="addPaymentDetail()" size="small">Add Payment Data</button>
                        </div>
                        <div style="margin-right:8px;" ngbDropdown>
                            <button class="payment-button" nbButton shape="semi-round" (click)="addPayment()" size="small">Add Payment</button>
                        </div>
                        <div style="margin-right:8px;" ngbDropdown>
                            <button type="button" shape="semi-round" class="payment-button btn btn-sm" ngbDropdownToggle>
                                {{ type }}
                            </button>
                            <ul ngbDropdownMenu class="payment-button-down">
                                <li class="payment-button dropdown-item" *ngFor="let s of status; let i = index" (click)="getStatus(s.id); type = s.name;">
                                    {{ s.name }}
                                </li>
                            </ul>
                        </div>
                        <div style="margin-right:8px;">
                            <input nbInput placeholder="Choose Date" [(ngModel)]="date" [nbDatepicker]="formpicker">
                            <nb-datepicker #formpicker [(date)]="date" (dateChange)="setDate()"></nb-datepicker>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="source " (userRowSelect)="onUserRowSelect($event)">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</div>