<nb-card>
    <nb-card-header>Add Payment Detail</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="label col-md-3  col-form-label">Adress:</label>
                    <div class="col-md-9">
                        <textarea type="address" [(ngModel)]="selectedAddress" nbInput fullWidth placeholder="Adres"></textarea>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="label col-md-3 col-form-label">Iban:</label>
                    <div class="col-md-9">
                        <input type="text" [(ngModel)]="selectedIban" nbInput fullWidth placeholder="iban">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label col-md-3 col-form-label ">Invoiced:</label>
                    <div class="col-md-9 ">
                        <input type="number" [(ngModel)]="selectedInvoiced" nbInput fullWidth placeholder="invoiced">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label col-md-3 col-form-label ">Paypal:</label>
                    <div class="col-md-9 ">
                        <input type="text" [(ngModel)]="selectedPaypal" nbInput fullWidth placeholder="paypal">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label col-md-3 col-form-label ">Tax Id:</label>
                    <div class="col-md-9 ">
                        <input type="text" [(ngModel)]="selectedTaxId" nbInput fullWidth placeholder="taxId">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="label col-md-3 col-form-label ">Tax Rate:</label>
                    <div class="col-md-9 ">
                        <input type="number" [(ngModel)]="selectedTaxRate" nbInput fullWidth placeholder="taxRate">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label col-md-3 col-form-label ">Tckn:</label>
                    <div class="col-md-9 ">
                        <input type="text" [(ngModel)]="selectedTckn" nbInput fullWidth placeholder="tckn">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="label col-md-3 col-form-label ">User Name:</label>
                    <div class="col-md-9 ">

                        <ng-select [(ngModel)]="selectedUserId" bindLabel="name" bindValue="id" (search)="onSearchUser($event)" [items]="userData">
                        </ng-select>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="label col-md-3 col-form-label ">Vat Rate:</label>
                    <div class="col-md-9 ">
                        <input type="number" [(ngModel)]="selectedVatRate" nbInput fullWidth placeholder="vatRate">
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div style="float:right">
            <button class="add-payment-detail" (click)="save()" style="margin-right:15px" nbButton size="small" shape="semi-round">Kaydet</button>
            <button class="add-payment-detail" (click)="close()" nbButton size="small" shape="semi-round">Kapat</button>
        </div>
    </nb-card-footer>
</nb-card>