@import "../../../@theme/styles/themes";
@include nb-install-component() {
    .add-payment-detail {
        cursor: pointer;
        background-color: #a4abb3;
        text-transform: none;
    }
    .add-payment-detail:hover {
        background-color: darkseagreen;
    }
}