<nb-card>
    <nb-card-header>
        Kullanıcı Yönetimi
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>