@import "../../@theme/styles/themes";
@include nb-install-component() {
    .payments-header-button {
        cursor: pointer;
        background: #a4abb3;
        text-transform: none;
        width: 150px;
        text-align: center;
    }
    .dropdown-item {
        cursor: pointer;
        text-transform: none;
        text-align: center;
        background: #a4abb3;
    }
    .dropdown-item:hover {
        background-color: darkseagreen !important;
    }
    .payments-header-button:hover {
        background-color: darkseagreen !important;
    }
    /deep/ {
        .second {
            height: 100%;
        }
        .name {
            text-align: center;
        }
        .buton {
            height: 100px;
        }
        .list-card {
            height: 40vh;
        }
        .legend-items-container {
            width: fit-content;
        }
        .item-percent {
            display: none;
        }
        .btn {
            width: 23vh !important;
            background: #a4abb3;
        }
        .dropdown-menu {
            width: 23vh !important;
            background: #a4abb3;
        }
        .dropdown-item {
            width: 100% !important;
            background: #a4abb3;
        }
        .advanced-pie {
            display: none;
        }
        .advanced-pie-legend-wrapper {
            margin-top: -30;
            width: 500px !important;
            height: 50px !important;
        }
        .advanced-pie-legend {
            width: 430px !important;
            height: 50px !important;
        }
        .legend-items-container {
            margin-top: 25px;
        }
        .total-value {
            display: none;
            width: 395px !important;
            height: 50px !important;
        }
        .total-label {
            display: none;
        }
    }
}