<div class=" row ">
    <div class="col-md-12 second ">
        <nb-card class="list-card ">
            <nb-card-header>
                <div class="row">
                    <div class="col-md-3" style="padding-top:10px">Payments</div>
                    <div class="col-md-9">
                        <div class="row" style="float:right">
                            <div style="margin-right:8px;" ngbDropdown>
                                <button class="payments-header-button" nbButton shape="semi-round" (click)="edit()" size="small">Edit</button>
                            </div>
                            <div style="margin-right:8px;" ngbDropdown>
                                <button class="payments-header-button" nbButton shape="semi-round" (click)="payments()" size="small">Payments</button>
                            </div>
                            <div style="margin-right:8px;" ngbDropdown>
                                <button class="payments-header-button" nbButton shape="semi-round" (click)="paymentDetail()" size="small">Payments Detail</button>
                            </div>
                            <div style="margin-right:8px;" ngbDropdown>
                                <button type="button" shape="semi-round" class="payments-header-button btn btn-sm " ngbDropdownToggle>
                                    {{ type }}
                                </button>
                                <ul ngbDropdownMenu class="dropdown-menu " style="left:203px !important">
                                    <li class="dropdown-item " *ngFor="let t of typeTexts; let i=i ndex " (click)="getDateRange(t.value); type=t.text; ">
                                        {{ t.text }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body class="body-card ">
                <div class="col-md-12 name ">
                    <span style="font-size: 50px "> {{name}} </span>
                    <ngx-charts-advanced-pie-chart [scheme]="colorScheme " [results]="results ">
                    </ngx-charts-advanced-pie-chart>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="col-md-12 ">
    <nb-card>
        <nb-card-header>
            <div class="row ">
                <div class="col-md-10 " style="padding-top:5px ">{{name}} Sites </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <ng2-smart-table [settings]="settings " [source]="source ">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</div>

<div *ngIf="isValid " class="col-md-12 ">
    <nb-card>
        <nb-card-header>30 Daily Graph</nb-card-header>
        <nb-card-body>
            <div echarts [options]="options2 " class="echart2 "></div>
        </nb-card-body>
    </nb-card>
</div>
<div *ngIf="isValid " class="col-md-12 ">
    <nb-card>
        <nb-card-header>Impression and Click</nb-card-header>
        <nb-card-body>
            <div echarts [options]="options " class="echart "></div>
        </nb-card-body>
    </nb-card>
</div>