<div class="row" style="width:944px; height: 85vh;text-align:center ;">
    <div class="col-md-6">
        <nb-card style="text-align:center">
            <nb-card-header>Date</nb-card-header>
            <nb-card-body>
                <form class="form">
                    <input nbInput [(ngModel)]="range" name="search-input" placeholder="Choose Date Range" [nbDatepicker]="rangepicker">
                    <nb-rangepicker #rangepicker [(range)]="range" (rangeChange)="setRange()"></nb-rangepicker>
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>Filter</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-4">User</div>
                    <div class="col-md-8">
                        <nb-card>
                            <ng-select [multiple]="true" [(ngModel)]="reportService.selecteds['User']" bindLabel="name" (search)="onSearchUser($event)" [items]="userDatas" [closeOnSelect]="false">
                            </ng-select>
                        </nb-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">Account Manager</div>
                    <div class="col-md-8">
                        <nb-card>
                            <ng-select [multiple]="true" [(ngModel)]="reportService.selecteds['Account Manager']" bindLabel="name" [items]="accountManagers" [closeOnSelect]="false">
                            </ng-select>
                        </nb-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">App</div>
                    <div class="col-md-8">
                        <nb-card>
                            <ng-select [multiple]="true" [(ngModel)]="reportService.selecteds['App']" bindLabel="name" (search)="onSearchApp($event)" [items]="appDatas" [closeOnSelect]="false">
                            </ng-select>
                        </nb-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">App Type</div>
                    <div class="col-md-8">
                        <nb-card>
                            <ng-select [multiple]="true" [(ngModel)]="reportService.selecteds['App Type']" bindLabel="name" [items]="appTypes" style="height:28px;" [closeOnSelect]="false">
                            </ng-select>
                        </nb-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">AppUnit</div>
                    <div class="col-md-8">
                        <nb-card>
                            <ng-select [multiple]="true" [(ngModel)]="reportService.selecteds['AppUnit']" bindLabel="name" (search)="onSearchAppUnit($event)" [items]="appUnitDatas" [closeOnSelect]="false">
                            </ng-select>
                        </nb-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">Size</div>
                    <div class="col-md-8">
                        <nb-card>
                            <ng-select [multiple]="true" [(ngModel)]="reportService.selecteds['Size']" bindLabel="name" [items]="sizes" style="height:28px;" [closeOnSelect]="false">
                            </ng-select>
                        </nb-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">AdSource</div>
                    <div class="col-md-8">
                        <nb-card>

                            <ng-select [multiple]="true" [(ngModel)]="reportService.selecteds['Ad Source']" bindLabel="name" [items]="adSources" style="height:28px;" [closeOnSelect]="false">

                            </ng-select>
                        </nb-card>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">Utm Source</div>
                    <div class="col-md-8">
                        <nb-card>
                            <ng-select [multiple]="true" [(ngModel)]="reportService.selecteds['Utm Source']" bindLabel="name" (search)="onSearchUtmSource($event)" [items]="utmSources" [closeOnSelect]="false">
                            </ng-select>
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Dimensions</nb-card-header>
            <nb-card-body>
                <form class="form">
                    <label for="subject">Date<nb-checkbox [(ngModel)]="reportService.customSearchObject.isSelectedDate"
                            name="isSelectedDate" style="float:right"></nb-checkbox></label>
                    <label for="subject">User<nb-checkbox [(ngModel)]="reportService.customSearchObject.isSelectedUser"
                            name="isSelectedUser" style="float:right"></nb-checkbox></label>
                    <label for="subject">App<nb-checkbox [(ngModel)]="reportService.customSearchObject.isSelectedApp"
                            name="isSelectedApp" style="float:right"></nb-checkbox></label>
                    <label for="subject">AppUnit<nb-checkbox
                            [(ngModel)]="reportService.customSearchObject.isSelectedAppUnit" name="isSelectedAppUnit"
                            style="float:right"></nb-checkbox></label>
                    <label for="subject">AddSource Type<nb-checkbox
                            [(ngModel)]="reportService.customSearchObject.isSelectedAddSource"
                            name="isSelectedAddSource" style="float:right"></nb-checkbox></label>
                    <label for="subject">Size<nb-checkbox [(ngModel)]="reportService.customSearchObject.isSelectedSize"
                            name="isSelectedSize" style="float:right"></nb-checkbox></label>
                    <label for="subject">Account Manager<nb-checkbox
                            [(ngModel)]="reportService.customSearchObject.isSelectedAccManager"
                            name="isSelectedAccManager" style="float:right"></nb-checkbox></label>
                    <label for="subject">App Type<nb-checkbox
                            [(ngModel)]="reportService.customSearchObject.isSelectedAppType" name="isSelectedAppType"
                            style="float:right"></nb-checkbox></label>
                    <label for="subject">App Url<nb-checkbox
                            [(ngModel)]="reportService.customSearchObject.isSelectedAppUrl" name="isSelectedAppUrl"
                            style="float:right"></nb-checkbox></label>
                    <label for="subject">Utm Source<nb-checkbox
                            [(ngModel)]="reportService.customSearchObject.isSelectedUtmSource"
                            name="isSelectedUtmSource" style="float:right"></nb-checkbox></label>
                    <label for="subject">Country<nb-checkbox
                            [(ngModel)]="reportService.customSearchObject.isSelectedCc" name="isSelectedCc"
                            style="float:right"></nb-checkbox></label>
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card style="height:174px;">
            <nb-card-body>
                <div class=""><button (click)="createQuery()" style="margin-top:60px;background:#40dc7e;margin-right:15px" nbButton>RUN REPORT</button><button (click)="excelReport()" style="margin-top:60px;background:#40dc7e;margin-right:15px" nbButton>EXCEL REPORT</button>                    <button (click)="cancel()" style=" margin-top:60px;background:#40dc7e" nbButton>CANCEL</button></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>