@import '../../../../@theme/styles/themes';
@include nb-install-component() {
    /deep/ .form {
        display: flex;
        flex-direction: column;
        color: black;
        .text-label {
            margin-top: 1.5rem;
        }
    }
}