/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Personal / Commercial License.
 * See LICENSE_PERSONAL / LICENSE_COMMERCIAL in the project root for license information on type of purchased license.
 */

@import "../../../@theme/styles/themes";
@include nb-install-component() {
    ngx-d3-bar,
    ngx-d3-pie,
    ngx-d3-advanced-pie,
    ngx-d3-area-stack,
    ngx-d3-line,
    ngx-d3-polar {
        display: block;
        width: 34rem;
        height: nb-theme(card-height-medium);
        div {
            .advanced-pie chart {
                width: 34rem;
                div {
                    width: 34rem;
                }
            }
        }
        /deep/ {
            .pie-label {
                fill: nb-theme(color-fg-heading);
            }
            .grid-line-path {
                stroke: nb-theme(separator);
            }
            text {
                fill: nb-theme(color-fg-heading);
            }
            .chart-legend {
                .legend-labels {
                    background: nb-theme(color-bg);
                }
                .legend-label {
                    color: nb-theme(color-fg-heading);
                    .active .legend-label-text {
                        color: nb-theme(color-fg-heading);
                    }
                }
            }
        }
    }
}