<div class="row">
    <div class="col-md-12 first">
        <nb-card class="list-card">
            <nb-card-body class="body-card">
                <div class="row">
                    <div class="col-md-9 advanced">
                        <span style="font-size: 50px"> {{appName}} </span>
                        <ngx-charts-advanced-pie-chart [scheme]="colorScheme" [results]="results">
                        </ngx-charts-advanced-pie-chart>
                    </div>
                    <div class="col-md-3" ngbDropdown>
                        <button type="button" class="btn btn-sm" ngbDropdownToggle>
                {{ type }}
              </button>
                        <ul ngbDropdownMenu class="dropdown-menu">
                            <li class="dropdown-item" *ngFor="let t of typeTexts; let i = index" (click)="getDateRange(t.value); type = t.value;">
                                {{ t.text }}
                            </li>
                        </ul>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-8">

        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col-md-10" style="padding-top:5px">Site Details</div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source ">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-calendar [(date)]="date" [dayCellComponent]="dayCellComponent" size="large"></nb-calendar>
    </div>

</div>