@import "../../@theme/styles/themes";
@include nb-install-component() {
    /deep/ {
        .col-md-12 {
            height: 100%;
            .list-card {
                height: 43vh;
                .body-card {
                    .row {
                        .col-md-9 {
                            height: 100px;
                            text-align: center;
                        }
                        .col-md-3 {
                            height: 100px;
                            .btn {
                                width: 23vh !important;
                                background: #a4abb3;
                            }
                            .dropdown-menu {
                                width: 23vh !important;
                                background: #a4abb3;
                                .dropdown-item {
                                    width: 100% !important;
                                    background: #a4abb3;
                                }
                            }
                        }
                    }
                }
            }
        }
        .item-percent {
            display: none;
        }
    }
    ngx-charts-advanced-pie-chart {
        /deep/ {
            .advanced-pie {
                display: none;
            }
            .advanced-pie-legend-wrapper {
                margin-top: -30;
                width: 395px !important;
                height: 184px !important;
            }
            .advanced-pie-legend {
                width: 430px !important;
                height: 50px !important;
                .legend-items-container {
                    margin-top: 25px;
                }
                .total-value {
                    display: none;
                    width: 395px !important;
                    height: 184px !important;
                }
                .total-label {
                    display: none;
                }
            }
        }
    }
}