<!--
  ~ Copyright (c) Akveo 2019. All Rights Reserved.
  ~ Licensed under the Personal / Commercial License.
  ~ See LICENSE_PERSONAL / LICENSE_COMMERCIAL in the project root for license information on type of purchased license.
  -->
<div class="col-md-12">
    <nb-card>
        <nb-card-header>
            Custom Report
        </nb-card-header>
        <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="source ">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</div>