<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
    <div class="logo-containter">
        <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
        <div class="logo" (click)="goToHome()"><span>ReklamStore</span></div>
    </div>
</div>
<div class="header-container">
    <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
        <nb-action>
            <nb-user [nbContextMenu]="userMenu" [nbContextMenuPlacement]="'bottom'" [name]="user?.name" [picture]="user?.picture | ngxAuthToken | async"></nb-user>
        </nb-action>
        <nb-action class="control-item" (click)="openWindowForm()" icon="nb-bar-chart"></nb-action>
        <nb-action class="control-item">
            <nb-card>
                <ng-select autofocus notFoundText="Nothing Found" groupBy="group" bindValue="name" [(ngModel)]="selecteds" placeholder="Search" (change)="onChangeUserApp($event)" bindLabel="name" (search)="onSearchUserApp($event)" [items]="userAppDatas">
                    <ng-template ng-optgroup-tmp let-item="item">
                        {{item.group }}
                    </ng-template>
                </ng-select>
            </nb-card>
        </nb-action>
    </nb-actions>
</div>