@import "../../../@theme/styles/themes";
@include nb-install-component() {
    ngx-charts-advanced-pie-chart {
        /deep/ {
            .advanced-pie {
                display: none;
            }
        }
    }
}