<div class="row">
    <div class="col-md-4">
        <nb-card class="list-card" style="text-align: center">
            <ngx-charts-advanced-pie-chart [scheme]="colorScheme" [results]="result">
            </ngx-charts-advanced-pie-chart>
        </nb-card>
    </div>
    <div class="col-md-4">

        <nb-flip-card [showToggleButton]="false" [flipped]="flipped">
            <nb-card-front>
                <nb-card class="list-card">
                    <nb-card-header style="font-weight: bold;">Sizes : Revenue</nb-card-header>
                    <nb-list>
                        <nb-list-item>
                            <li><a>Display : </a>{{revenueDisplay| currencyTl }} </li>
                        </nb-list-item>
                        <nb-list-item>
                            <li><a>Pop : </a>{{revenuePop| currencyTl }} </li>
                        </nb-list-item>
                        <nb-list-item>
                            <li><a>Native : </a>{{revenueNative| currencyTl }} </li>
                        </nb-list-item>
                    </nb-list>
                    <i class="nb-arrow-right" (click)="toggleView()"></i>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card class="list-card">
                    <nb-card-header style="font-weight: bold;">Sizes : Details</nb-card-header>
                    <nb-list>
                        <nb-list-item>
                            <li><a>Display : </a>Impression: <a> {{ impDisplay }} </a> / Click: <a>{{ clickDisplay }}
                            </a> /Revenue:<a>{{ revenueDisplay| currencyTl }} </a> / Cost:<a>{{ costDisplay|
                                currencyTl }} </a> /Profit: <a>{{ profitDisplay| currencyTl }}</a>
                            </li>
                        </nb-list-item>
                        <nb-list-item>
                            <li><a>Pop :</a>Impression:<a> {{ impPop }} </a> / Click:<a>{{ clickPop }} </a> /Revenue:<a>
                                {{ revenuePop| currencyTl }}</a> / Cost:<a>{{ costPop| currencyTl }}</a> / Profit:
                                <a> {{ profitPop| currencyTl }}</a></li>
                        </nb-list-item>
                        <nb-list-item>
                            <li><a>Native : </a>Impression: <a>{{ impNative }}</a> /Click:<a>
                                {{ clickNative }}</a> /Revenue:<a>{{ revenueNative| currencyTl }}</a> /Cost:<a>
                                {{ costNative| currencyTl }} </a> /Profit: <a>{{ profitNative| currencyTl}}</a>
                            </li>
                        </nb-list-item>
                    </nb-list>
                    <i class="nb-arrow-right" (click)="toggleView()"></i>
                    <i class="nb-arrow-right" (click)="toggleView()"></i>
                </nb-card>
            </nb-card-back>
        </nb-flip-card>
    </div>
    <div class="col-md-4">
        <nb-card class="list-card">
            <nb-card-header class="header-card">
                <div class="row">
                    <div class="col-md-6">Account Managers</div>
                    <div class="col-md-6" ngbDropdown>
                        <button type="button" class="btn btn-sm" ngbDropdownToggle>
                {{ type }}
              </button>
                        <ul ngbDropdownMenu class="dropdown-menu">
                            <li class="dropdown-item" *ngFor="let t of typeTexts; let i = index" (click)="getDateRange(t.value); type = t.value;">
                                {{ t.text }}
                            </li>
                        </ul>
                    </div>
                </div>
            </nb-card-header>
            <nb-list>
                <nb-list-item>
                    <li><a style="font-weight: bold;color:#2a2a2a ">Ceren : </a>{{cerenValue| currencyTl }} </li>
                </nb-list-item>
                <nb-list-item>
                    <li><a style="font-weight: bold;color:#2a2a2a ">Sefa : </a>{{sefaValue| currencyTl }} </li>
                </nb-list-item>
                <nb-list-item>
                    <li><a style="font-weight: bold;color:#2a2a2a ">Esra : </a>{{esraValue| currencyTl }} </li>
                </nb-list-item>
                <nb-list-item>
                    <li><a style="font-weight: bold;color:#2a2a2a ">Melis : </a>{{melisValue| currencyTl }} </li>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>

<div class="col-md-12">
    <nb-card>
        <nb-card-header>Ad Source Pie Chart</nb-card-header>
        <nb-card-body>
            <div echarts [options]="options" class="echart"></div>
        </nb-card-body>
    </nb-card>
</div>

<div class="col-md-12">
    <nb-card>
        <nb-card-header>15 Daily Graph</nb-card-header>
        <nb-card-body>
            <div echarts [options]="options2" class="echart2"></div>
        </nb-card-body>
    </nb-card>
</div>
<div class="col-md-12">
    <nb-card>
        <nb-card-header>Ad Source Bar Chart</nb-card-header>
        <nb-card-body>
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="results2" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
        </nb-card-body>
    </nb-card>
</div>