@import "../../@theme/styles/themes";
@include nb-install-component() {
    .nb-arrow-right {
        position: absolute;
        right: 0;
        top: 0;
        @include nb-rtl(right, auto);
        @include nb-rtl(left, 0);
        padding: 1.5rem;
        cursor: pointer;
    }
     ::ng-deep .flipped {
        .back-container {
            .nb-arrow-right {
                transform: scaleX(-1);
            }
        }
        .front-container {
            .nb-arrow-right {
                display: none;
            }
        }
    }
    /deep/ {
        .col-md-4 {
            height: 100%;
            .list-card {
                height: 42vh;
                .header-card {
                    .row {
                        .col-md-6 {
                            .btn {
                                width: 23vh !important;
                                background: #a4abb3;
                            }
                            .dropdown-menu {
                                width: 23vh !important;
                                background: #a4abb3;
                                .dropdown-item {
                                    width: 100% !important;
                                    background: #a4abb3;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    a {
        font-weight: bold;
        color: #2a2a2a
    }
    ngx-charts-advanced-pie-chart {
        /deep/ {
            .advanced-pie {
                display: none;
            }
            .advanced-pie-legend-wrapper {
                margin-top: 15px;
                width: 395px !important;
                height: 184px !important;
            }
            .advanced-pie-legend {
                width: 395px !important;
                height: 184px !important;
                .legend-items-container {
                    margin-top: 25px;
                }
            }
        }
    }
}