<!--
  ~ Copyright (c) Akveo 2019. All Rights Reserved.
  ~ Licensed under the Personal / Commercial License.
  ~ See LICENSE_PERSONAL / LICENSE_COMMERCIAL in the project root for license information on type of purchased license.
  -->
<div class="row">
    <div class="col-md-12">
        <nb-card style=" height:200px">
            <ngx-d3-advanced-pie style=" padding:10px"></ngx-d3-advanced-pie>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Analysis Graph</nb-card-header>
            <nb-card-body>
                <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Volume Graph</nb-card-header>
            <nb-card-body>
                <ngx-echarts-area-stack></ngx-echarts-area-stack>
            </nb-card-body>
        </nb-card>
    </div>
</div>