/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Personal / Commercial License.
 * See LICENSE_PERSONAL / LICENSE_COMMERCIAL in the project root for license information on type of purchased license.
 */

@import '../../../@theme/styles/themes';
@include nb-install-component() {
    text-align: center;
    span {
        font-size: 75%;
        opacity: 0.75;
    }
}