/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Personal / Commercial License.
 * See LICENSE_PERSONAL / LICENSE_COMMERCIAL in the project root for license information on type of purchased license.
 */

:host {
  display: flex;
  align-items: center;
  i.control-icon {
    &::before {
      font-size: 2.3rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  input {
    border: none;
    outline: none;
    margin-left: 1rem;
    width: 15rem;
    transition: width 0.2s ease;

    &.hidden {
      width: 0;
      margin: 0;
    }
  }

  /deep/ search-input {
    input {
      background: transparent;
    }
  }
}
