<div class="row">
    <ng-container *ngIf="campaignDatas ">

        <div class="col-md-3" *ngFor="let campaignTot of campaignTotal">
            <ngx-status-card [title]="campaignTot.name" [on]="campaignTot.isOn" [type]="campaignTot.settings.type">
                <i [ngClass]="campaignTot.settings.iconClass"></i>
            </ngx-status-card>
        </div>

        <div class="col-md-3" *ngFor="let campaignStatsData of campaignStatsDatas;let j = index">
            <ngx-status-card [title]="campaignDatas[0][j]|ngxNumberWithCommas " [on]="campaignStatsData.isOn " [subtitle]="campaignStatsData.name " [type]="campaignStatsData.settings.type ">
                <i [ngClass]="campaignStatsData.settings.iconClass "></i>
            </ngx-status-card>
        </div>

    </ng-container>
</div>

<div class="col-md-12">
    <nb-accordion multi>
        <nb-accordion-item *ngFor="let data of datas;let i=index " #item>
            <nb-accordion-item-header>
                <div class="col-md-2 ">{{data.name}} </div>
                <ng-container *ngIf="campaignDatas ">
                    <div class="col-md-3 " *ngFor="let campaignStatsData of campaignStatsDatas;let j = index">
                        <ngx-status-card [title]="campaignDatas[i+1][j]|ngxNumberWithCommas " [on]="campaignStatsData.isOn " [subtitle]="campaignStatsData.name " [type]="campaignStatsData.settings.type ">
                            <i [ngClass]="campaignStatsData.settings.iconClass "></i>
                        </ngx-status-card>
                    </div>
                </ng-container>
            </nb-accordion-item-header>
            <nb-accordion-item-body style="box-shadow: 0 2px 12px 0 #a9fd9f; ">
                <ng2-smart-table [settings]="settings " [source]="source[i] ">
                </ng2-smart-table>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
    <div class="col-md-12" style="margin:36px"></div>
    <nb-accordion multi>
        <nb-accordion-item *ngFor="let dataZero of dataZeros;let i=index " #item>
            <nb-accordion-item-header>
                <div class="col-md-2 ">{{dataZero.name}}</div>
                <ng-container *ngIf="campaignDatasZero ">
                    <div class="col-md-3 " *ngFor="let campaignStatsDataZero of campaignStatsDatasZero;let j = index">
                        <ngx-status-card [title]="campaignDatasZero[i][j]|ngxNumberWithCommas " [on]="campaignStatsDataZero.isOn " [subtitle]="campaignStatsDataZero.name " [type]="campaignStatsDataZero.settings.type ">
                            <i [ngClass]="campaignStatsDataZero.settings.iconClass "></i>
                        </ngx-status-card>
                    </div>
                </ng-container>
            </nb-accordion-item-header>
            <nb-accordion-item-body style="box-shadow: 0 2px 12px 0 #a9fd9f; ">
                <ng2-smart-table [settings]="settings " [source]="sourceZero[i] ">
                </ng2-smart-table>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</div>