@import "../../@theme/styles/themes";
@include nb-install-component() {
    /deep/ .row {
        height: 90px;
    }
    /deep/ .fas {
        font-size: 24px;
    }
    /deep/.col-md-2 {
        color: #40dc7e;
        font-weight: bold;
    }
}