<div class="row">
    <ng-container *ngIf="statsDatas">
        <div class="col-md-3 col-md-3" *ngFor="let statsData of statsDatas">
            <ngx-status-card [title]="statsData.amount |ngxNumberWithCommas" [on]="statsData.isOn" [subtitle]="statsData.name" [type]="statsData.settings.type">
                <i [ngClass]="statsData.settings.iconClass"></i>
            </ngx-status-card>
        </div>
    </ng-container>
</div>
<div class="col-md-12">

    <nb-card>
        <nb-card-header>
            <div class="row">
                <div class="col-md-10" style="padding-top:5px">General Reports</div>
                <div class="col-md-2" style="padding-left:0;" ngbDropdown>
                    <button type="button" style="background:#a4abb3;float:left; width: 165px   " class="btn btn-sm" ngbDropdownToggle>
            {{ type }}
          </button>
                    <ul ngbDropdownMenu class="dropdown-menu" style="background:#a4abb3;float:right;width: 165px ">
                        <li class="dropdown-item" style="background:#a4abb3;float:right;  " *ngFor="let t of typeTexts; let i = index" (click)="getDateRange(t.value); type = t.value;">
                            {{ t.text }}
                        </li>
                    </ul>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="source " (userRowSelect)="onUserRowSelect($event)">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</div>