<!--
  ~ Copyright (c) Akveo 2019. All Rights Reserved.
  ~ Licensed under the Personal / Commercial License.
  ~ See LICENSE_PERSONAL / LICENSE_COMMERCIAL in the project root for license information on type of purchased license.
  -->

<div class="col-md-12">
    <publisher-detail-report-table></publisher-detail-report-table>
</div>