@import "../../../@theme/styles/themes";
@include nb-install-component() {
    ngx-d3-advanced-pie {
        .advanced-pie {
            display: none;
        }
        .advanced-pie-legend-wrapper {
            margin-top: 15px;
            width: 382px !important;
            height: 14px !important;
        }
        .advanced-pie chart {
            width: 886px !important;
            height: 54px !important;
        }
    }
}